<h1>Find Basketball Events Near You</h1>
<%= form_tag events_path do %>
  <%= label_tag "Location" %><br>
  <%= text_field_tag "event[near]", nil, placeholder: "Denver, CO" %><br><br>
  <%= label_tag "Event" %><br>
  <%= text_field_tag "event[query]" %><br><br>
  <%= submit_tag "Search" %>
<% end %>
