<h1>Find Basketball Events Near You</h1>
<%= form_tag events_path do %>
  <%= label_tag "Location" %>
  <%= text_field_tag "event[near]", nil, placeholder: "Denver, CO" %>
  <%= label_tag "Event" %>
  <%= text_field_tag "event[query]" %>
  <%= submit_tag "Search" %>
<% end %>
